{%- if dictvar[0].vdom%}
config vdom
edit {{dictvar[0].vdom}}
{%- endif%}
config firewall address
{%- for address in dictvar%}
{%- if address.action=='create'%}
edit {{address.name}}
{%- if address.type=='fqdn'%}
set type {{address.type}}
set fqdn {{address.value}}
{%- else%}
set type "ipmask"
set subnet {{address.value}}
{%- endif%}
{%- if address.comment%}
set comment {{address.comment}}
{%- endif%}
next
{%- endfor%}
end
{%- if dictvar[0].vdom%}
end
{%- endif%}